body{
    font-family: Arial, sans-serif;
}
nav{
    text-align: right;
    margin: 20px;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: #272727;
    font-size: .8em;
    padding: 5px;
}
.top-nav-hover:hover {
    text-decoration: underline;
}
.sign-in{
    background-color: #1c35b0;
    padding: 7px 11px;
    border-radius: 3px;
}
.sign-in a{
    color: white;
    font-weight: bold;
}
li.sign-in:hover{
    box-shadow: 1px 1px 4px #d4d4d4;
}
.search {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#search-box{
   width: 60%;
   height: 40px;
    display: block;
    clear: both;
    margin: 25px auto;
    box-shadow: 2px 2px 3px #d4d4d4;
    border: 1px solid #eaeaea;
}
input[type=submit]{
    background-color: #eaeaea;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #585858;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline;
}