body{
    font-family: Arial, sans-serif;
    margin: 0;
}
nav{
    text-align: right;
    margin: 20px;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: #272727;
    font-size: .8em;
    padding: 5px;
}
nav#search{
    background: #F2F2F2;
    margin: -25px 0 0 0;
    padding-top: 20px;
}
.top-nav-hover:hover {
    text-decoration: underline;
}
.sign-in{
    background-color: #1c35b0;
    padding: 7px 11px;
    border-radius: 3px;
}
.sign-in a{
    color: white;
    font-weight: bold;
}
li.sign-in:hover{
    box-shadow: 1px 1px 4px #d4d4d4;
}

/* HOMEPAGE SEARCH SECTION */

.search {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 120px;
}
#search-box{
   width: 60%;
   height: 40px;
    display: block;
    clear: both;
    margin: 25px auto;
    box-shadow: 2px 2px 3px #d4d4d4;
    border: 1px solid #eaeaea;
}
input[type=submit]{
    background-color: #eaeaea;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #585858;
}

/* SEARCH RESULTS HEADER */

.search-results-nav{
    margin-top: -20px;
    background-color: #F2F2F2;
    padding-top: 25px;
    height: 120px;
}

#form-search {
    padding: 25px 25px 25px -20px;
}
#form-search ul li{
    display: inline-block;
}
#form-search ul li:nth-child(-n+2){
    float: left;
}
#form-search img{
    width: 125px;
    margin-left: -30px;
}

#search-box-results {
    height: 40px;
    width: 600px;
    box-shadow: 2px 2px 3px #d4d4d4;
    border: 1px solid #eaeaea;
    margin-left: 20px;
}
#form-search-nav{
    text-align: left;
    margin: 40px 0 0 130px;
}

#form-search-nav ul li a:visited {
    font-weight: bold;
    border-bottom: 2px solid blue;
}
/* FOOTER BEGINS */

footer {
    background-color: #F2F2F2;
    padding: 1px 0;
    margin: 0;
    width: 100%;
    font-size: .8em;
    position: fixed;
    bottom: 0px;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline;
    padding-right: 20px;
}
footer li a {
    color: #B6B6B6;
    text-decoration: none;
}
.float-right {
    float: right;
}
